<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculator</title>
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <div class="body-container">
        @RenderBody()
    </div>
    <footer>
        <div class="footer-container">
            &copy; @DateTime.Now.Year - Calculator
        </div>
    </footer>
</body>
</html>
