html, body {
    height: 100%;
}

body {
    font-family: Verdana;
}

:root {
    --primary-font-family: Verdana;
}

.number, .math-sign, .equal-sign {
    font-size: 0.75em;
    color: darkgrey;
    padding: 2px;
}

.display-number {
    width: 100%;
    font-family: var(--primary-font-family);
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    border: 0px;
    outline: none;
    background-color: whitesmoke;
}

#clearEntry, #clearAll, #equal {
    width: 100%;
}

.number-btn, .function-number-btn {
    font-family: var(--primary-font-family);
    border-radius: 6px;
    border: 0px;
    font-size: 0.85em;
    padding: 8px 14px 8px 14px;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    white-space: normal;
    outline: none;
    cursor: pointer;
    transition: all 0.2s linear;
}

.number-btn {
    background-color: #FFFFFF;
}

.function-number-btn {
    background-color: lightgray;
}

    .number-btn:hover, .function-number-btn:hover {
        background-color: whitesmoke;
    }

.container {
    width: 25%;
    min-width: 260px;
    margin: auto;
    padding: 50px 10px 10px 10px;
    box-sizing: border-box;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: whitesmoke;
    box-shadow: 0 0 4px 4px rgba(45, 45, 45, 0.6);
}

    .container .summary {
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .container .display {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 20px 0px 20px 0px;
    }

    .container .functions-numbers-mathsigns {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-gap: 10px;
    }

        .container .functions-numbers-mathsigns .functions-numbers {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
        }

            .container .functions-numbers-mathsigns .functions-numbers .clear-entry {
                grid-column: 1/3;
            }

            .container .functions-numbers-mathsigns .functions-numbers .equal {
                grid-column: 2/4;
            }

        .container .functions-numbers-mathsigns .math-signs {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 10px;
        }

/* Styles for footer controls
-----------------------------------------------------------*/

footer .footer-container {
    width: 90%;
    margin: 30px auto;
    text-align: center;
    font-family: var(--primary-font-family);
    font-size: 0.75em;
    font-weight: normal;
}
